* {
  margin: 0;
  padding: 0;
}
#banner {
  width: 1320px;
  height: 600px;
  margin: 50px auto;
  text-align: center;
  border-radius: 6px;
  color: #ffffff;
  background-image: url("./resources/Banner\ Image.png");
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0) 10%, black),
    url("./resources/Banner\ Image.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#banner-title {
  padding: 177px;
  width: 632px;
  margin: auto;
}
#banner-title1 {
  font-size: 32px;
}
#banner-title2 {
  font-size: 72px;
}
#discount {
  margin: auto;
  height: 806px;
  width: 802px;
}
#discount1 {
  text-align: center;
}
#welcome-party {
  width: 1320px;
  margin: 120px auto;
  padding-left: 120px;
  color: #ffffff;
  height: 600px;
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0) 10%, black),
    url("./resources/Vectorrr.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
#party-button {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
  border: none;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #b69926;
  color: #ffffff;
}
#party-button:hover {
  background-color: #7e6a1b;
}
#party-location {
  width: 1320px;
  height: 482px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  font-size: 32px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  margin-bottom: 20px;
}
h1 > span {
  color: #f00;
}
#upcoming {
  width: 1320px;
  height: 700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
#holiday-sale {
  width: 1320px;
  margin: 0 auto;
}
#holiday-sale-image {
  background-image: url("./resources/Rectangle\ 1.png"),
    url("./resources/Rectangle\ 2.png");
  background-position: right top, left bottom;
  background-size: 429px 433px, 1320px 229px;
  background-repeat: no-repeat, no-repeat;
  padding: 15px;
}
#subscribe {
  width: 1320px;
  height: 616px;
  margin: 120px auto;
  background-color: rgba(255, 0, 0, 0.05);
  justify-content: center;
}
offer-image {
  height: 500px;
}
footer {
  background-color: #070211;
  color: #ffffff;
  height: 489px;
  width: 1600px;
  margin: auto;
  padding-top: 120px;
}

footer > hr {
  margin: 50px 140px;
}

#copyright {
  display: flex;
}

#address {
  width: 1185px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 32px;
  margin: auto;
}
#location {
  width: 375px;
}
#copyright {
  display: flex;
  justify-content: space-between;
  width: 1185px;
  margin: auto;
  font-size: 24px;
}
